header{
    background-color: aqua;
}
h1{
    text-align: center;
}
p{
    color: bisque;
    padding: 20px;
}
h2{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}
h2{
    color: aliceblue;
}